<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="resource/js/jquery-2.1.1.min.js"></script>
    <script src="resource/js/angular-1.3.0-beta.14/angular.min.js"></script>
    <script src="9内置指令.js"></script>

    <link href="resource/js/bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="resource/js/bootstrap-3.3.5/dist/js/bootstrap.min.js" defer></script>
</head>
<body ng-app="myApp" class="container">

    <h3>9.1.2类布尔属性</h3>
    <h4>1.ng-href</h4>
    <a ng-href="{{myHref}}" target="_blank">I'm feeling lucky,when I load</a>
    <a href="{{myHref}}" target="_blank">I'm feeling 404;</a>

    <h4>2.ng-src</h4>
    <p>Wrong Way</p>
    <img src="{{imgSrc}}"/>

    <p>Right Way</p>
    <img ng-src="{{imgSrc}}"/>

    <h4>ng-selected</h4>
   
    <label>Select Two Fish:</label>
    <input type="checkbox" ng-model="isTwoFish"/><br />

    <select>
        <option>One Fish</option>
        <option ng-selected="isTwoFish">Two Fish</option>
    </select>







    <label>value1={{value1}}</label>
    <input type="checkbox" ng-checked="value1" ng-init="value1=true" ng-model="value1" />



    <code class="help-block text-danger">========================================================================================================</code>

    Type here to make sibling readonly:
    <input type="text" ng-model="readModel"/><br />
    <input type="text" ng-readonly="readModel" value="Some text here!"/>



    <textarea ng-disabled="isDisabled" class="form-control"> Wait5Seconds</textarea>


    <input type="text" ng-model="name" />
    <button ng-model="button" ng-disabled="!name" class="btn btn-primary">submit</button>
</body>
</html>
